
ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: sticky;
    width: 20vw;
    bottom:0;
    left: 0;
    background-color: none;

}

#a {
    color: whitesmoke;
    background-color: brown;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    grid-column: 1;
    grid-row: 2;
}

#d {
    color: whitesmoke;
    background-color: darkcyan;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    grid-column: 3;
    grid-row: 2;
}

#w {
    color: whitesmoke;
    background-color: darkorange;
    text-shadow: 1px 1px 1px white;
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;
}

#s {
    color: whitesmoke;
    background-color: darkolivegreen;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
    grid-column: 2;
    grid-row: 3;
}

#insert-p {
    position: sticky;
    font-size: 24px;
    bottom: 0px;
    right: 0px;
    color: rgb(255, 0, 0, 0.7);
    width: 70vw;
    grid-column: 4;
    grid-row: 1;
    list-style: none;
    text-align: right;
}

.game{
    margin: 50px auto;
    margin-bottom: 10px;
    color: brown;
    font-size: 2rem;
    text-shadow: 5px 5px 5px lightcoral;
}


canvas {
    border: 3px dotted gray;
}

.ball-game {background-color: white;}
