


.game{
    margin: 50px auto;
    margin-bottom: 10px;
    color: brown;
    font-size: 2rem;
    text-shadow: 5px 5px 5px lightcoral;
}


canvas {
    border: 3px dotted gray;
}

.ball-game {background-color: white;}
